<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

<!--
	The web.xml file is a key configuration file for Java web applications;
	it affects various behaviors, such as the default home page and 
	filters used to intercept HTTP requests
	
	See "http://struts.apache.org/release/2.2.x/docs/webxml.html" for details.
 -->

<display-name>Hello Tutorial</display-name>
    
	<listener>
		<listener-class>
			listeners.HelloTutorialListener
    	</listener-class>
	</listener>

	<welcome-file-list>
   		<welcome-file>index.action</welcome-file>
 	</welcome-file-list>
	
	<filter>
  		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
	</filter>
 
	<filter-mapping>
	  	<filter-name>struts2</filter-name>
  	 	<url-pattern>/*</url-pattern>
	</filter-mapping>
    
</web-app>